#index.html{
    width: 1200px;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
 display: flex; 
}   
ul li a{
 padding: 50px 50px;
 font-size: 24px;
 font-weight: bold;
}

.main-sample{
    position: relative;
}
.main-sample img{
    width: 1500px;
}
.main-sample h1{
    position: absolute;
    color: white;
    font-size: 30px;
    top: 30%;
    left: 20%;
        margin-top: 100px;
}
.main-sample h2{
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: bold;
    top: 10%;
    left: 20%;
    margin-top: 100px;
}

#title {
    position: absolute;
    color:yellow;
    font-size: 24px;
    font-weight: bold;
    left: 35%;
    margin-top: 10px;
}

.sub-title{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    margin-top: 60px;
    left: 32%;
}

.sentence-1{
    position: absolute;
    font-size: 16px;
    margin-top: 100px;
    left: 30%;
}

.sentence-2{
    position: absolute;
    font-size: 16px;
    top: 100%;
    left: 20%;
}

.sentence-3{
    position: absolute;
    font-size: 16px;
    top: 110%;
    left: 20%;  
}

.sentence-4{
    position: absolute;
    font-size: 16px;
    top: 120%;
    left: 20%;
}

.image-4{
    position: absolute;
    top: 130%;
    left: 5%;
}

#sentence-5{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    top: 170%;
    left: 35%;
}

.sentence-6{
    position: absolute;
    font-size: 16px;
    top: 180%;
    left: 20%;
}

.course-image-1{
    position: absolute;
    top: 190%;
    left: 5%;
}
.course-image-1 img{
    width: 750px;
    height: 450px;
}

.course-sentence-1{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    top: 200%;
    left: 50%;
}
.course-sentence-2{
    position: absolute;
    font-size: 16px;
    top: 210%;
    left: 50%;
}
.course-image-2{
    position: absolute;
    font-size: 16px;
    top: 243%;
    left: 45%;
}
.course-image-2 img{
    width: 750px;
    height: 450px;
}
.course-sentence-3{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    top: 260%;
    left: 16%;
}
.course-sentence-4{
    position: absolute;
    font-size: 16px;
    top: 270%;
    left: 15%;
}
.course-image-3{
    position: absolute;
    font-size: 16px;
    top: 295%;
    left: 5%;
}
.course-image-3 img{
    width: 750px;
    height: 450px;
}
.course-sentence-5{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    top: 310%;
    left: 50%;
}
.course-sentence-6{
    position: absolute;
    font-size: 16px;
    top: 320%;
    left: 50%; 
}
#news{
    position: absolute;
    color:yellow;
    font-size: 24px;
    font-weight: bold;
    top: 350%;
    left: 45%;
}
.news-2{
    position: absolute;
    font-size: 18px;
    top: 360%;
    left: 45%;
}
.news-image{
    position: absolute;
    top: 370%;
    left: 15%;
    display: flex;
}
.news-image img{
    width: 300px;
    margin: 30px
}
.news-sentence{
    position: absolute;
    font-size: 16px;
    top: 400%;
    left: 16%;
}
.news-sentence-2{
    position: absolute;
    font-size: 16px;
    top: 405%;
    left: 16%; 
}
.news-sentence-3{
    position: absolute;
    font-size: 16px;
    top: 400%;
    left: 36%;
}
.news-sentence-4{
    position: absolute;
    font-size: 16px;
    top: 405%;
    left: 36%; 
}
.news-sentence-5{
    position: absolute;
    font-size: 16px;
    top: 400%;
    left: 55%;
}
.news-sentence-6{
    position: absolute;
    font-size: 16px;
    top: 405%;
    left: 55%; 
}
p a img{
	border:solid 2px #ccc;
}
p a img:hover{
    border:solid 2px #203aad;
}
.more{
    position: absolute;
    top: 415%;
    left: 38%;
    width: 300px;
    height: 60px;
    border: 1px solid;
    background-color: orange;
    font-size: 18px;
    color: white;
    font-weight: bold;
    display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.more p {
margin: 25px;
}
.more:hover{
opacity: 0.3;
color: white;
}
.Access{
    position: absolute;
    top: 425%;
    left: 15%; 
    background-size: 150px;
    background-color: #f5f5f5;
    width: 1200px;
    height: 850px;
}
#ACCESS-1{
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    text-align: center;

}
.Access h2{
    font-size: 16px;
    padding: 20px;
    text-align: center;
}
.MAP iframe {
    position: absolute;
    top: 440%;
    left: 15%;
    width: 1200px;
    height: 400px;
}
.Company-info{
    position: absolute;
    top: 490%;
    left: 30%;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 40px;
}
.Company-info-2{
    position: absolute;
    top: 490%;
    left: 40%;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 60px ;
    line-height: 40px;
}
#CONTACT{
    position: absolute;
    top: 520%;
    left: 43%;
    font-size: 24px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 60px ;
}
.CONTACT-2{
    position: absolute;
    top: 530%;
    left: 40%;
    font-size: 16px;
    margin-top: 30px;
}
.CONTACT-3{
    position: absolute;
    top: 540%;
    left: 35%;
    font-size: 16px;
    margin-top: 30px; 
}
.CONTACT-4{
    position: absolute;
    top: 545%;
    left: 35%;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 70px;
}
.box_con02 {
    max-width: 900px;
    margin: 0  auto;
  }
  @media only screen and (max-width: 768px) {
    .box_con02 {
      width: 95%;
    }
  }
  .box_con02 form {
    width: 100%;
  }
  .box_con02 form table {
    width: 100%;
  }
  .box_con02 form table tr {
    position: relative;
  }
  .box_con02 form table tr:first-child td:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 1px;
    border-bottom: solid 1px rgba(28, 46, 83, 0.5);
  }
  @media only screen and (max-width: 768px) {
    .box_con02 form table tr:first-child td:before {
      display: none;
    }
  }
  .box_con02 form table tr th {
    width: 30%;
    font-weight: normal;
    padding: 1em .5em;
    background: #1c2e53;
    color: #fff;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 768px) {
    .box_con02 form table tr th {
      text-align: center;
      width: 100%;
      display: block;
      padding: .8em .2em;
    }
  }
  .box_con02 form table tr th span {
    background: #cd6f55;
    padding: 0 .3em;
    color: #fff;
    margin-left: .5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .box_con02 form table tr th:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 1px;
    border-bottom: solid 1px #fff;
  }
  .box_con02 form table tr td {
    position: relative;
    padding: 1em .5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 768px) {
    .box_con02 form table tr td {
      padding: 1.5em .5em;
      display: block;
      width: 100%;
    }
  }
  .box_con02 form table tr td:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 1px;
    border-bottom: solid 1px rgba(28, 46, 83, 0.5);
  }
  .box_con02 form table tr .box_br {
    display: block;
    margin: 24px;
  }
  .box_con02 form table tr select, .box_con02 form table tr textarea, .box_con02 form table tr .wide {
    width: 100%;
    height: 3em;
    padding: .5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .box_con02 form table tr textarea {
    height: 10em;
  }
.original-con{
    position: relative;
    top: 4000px;
    left: 0.2%
}
.send{
    position: absolute;
    top: 90%;
    left: 38%;
    width: 300px;
    height: 60px;
    border: 1px solid;
    background-color: orange;
    font-size: 18px;
    color: white;
    font-weight: bold;
    display: table-cell;
    text-align: center;
	vertical-align: middle;
    margin-top: 30px;
}
.send p {
  margin: 20px;
}
.send:hover{
opacity: 0.3;
color: white;
}
.footer {
    position: relative;
    top: 200px;
    margin: 100px;
    left: 30px;
    padding: 2rem;
    font-size: 15px;
    color:white;
    background:#707070;
    border-top: 1px solid #e5e7eb;
    text-align: center;
  }
  
  .footer a:hover {
    color: #000;
  }
  